/*
External stylesheet for my final project concept development.
*/

/*
 Reset       
*/
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /*
    Color & Style
*/
        div {
            color: #fff;
            background-color: rgb(170, 180, 190);
            outline: 1px solid #000;

        }

        div.level2 {
            background-color: rgb(130, 140, 150);
        }

        /*
    Layout
*/

          div.flex-box {
            display: flex;
        }

        div.level1 {
            margin: 0 0 2vw 0;
            padding: 5px;
        }

        div.level2 {
            height: 5vw;
            width: 33.3%;
        }


        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            display: flex;
            width: 100%;
        }

        /*
    Typograhy
*/