* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-image: url(../img/energy-3857970_1920.jpg);


}

/* page transition start */



.page {
    display: none;
    width: 90vw;
    height: 75vh;
    background-color: rgba(42, 82, 152, 0.6);
    box-shadow: inset 0 0 0 90vw rgba(255, 255, 255, 0.4);
    margin: auto;
    margin-top: 7vh;
    border-radius: 10px;
    border-top: 0.1rem outset rgba(100, 150, 255, 0.9);
    border-left: 0.1rem outset rgba(100, 150, 255, 0.9);
    border-bottom: 0.1rem outset rgba(100, 150, 255, 0.9);
    box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem #000;

}

h2 {
    font-family: monospace, sans-serif;
    color: aqua;
    text-shadow: 0px 2px 3px #555;
    margin-left: 10px;
    font-size: 4vh;
    
}


.default,
:target {
    display: block;
    
}

:target ~ .default {
    display: none;

}

.thx{
    font-family: monospace;
    font-size: 13vh;
    text-align: center;
    color: crimson
}

/* page transition end */

/*Navigation Start*/
nav{
    text-align: center;
}
nav ul {
    display: inline-block;
       
}
ul:hover > li {
    opacity: 1;
    visibility: visible;
}


li {
    font-family: 'Audiowide', sans-serif;
    width: 9em;
    height: 2.3em;
    display: inline-block;
    background-image: linear-gradient(#1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    will-change: transform;
    box-shadow: 0.2rem 0.2rem 0.5rem #000;
    margin: 5px;
    border-radius: 0.3rem;
    border-style: outset;
    border-color: #2a5298;
    
}
a {
    text-decoration: none;
}
li:hover p {
    color: aqua;
}

.b2 {

    visibility: visible;
    opacity: 0;
    transition: visibility 0.4s linear, opacity 0.5s linear;
    -webkit-transition: visibility 0.4s linear, opacity 0.5s linear;
    -moz-transition: visibility 0.4s linear, opacity 0.5s linear;
    -o-transition: visibility 0.4s linear, opacity 0.5s linear;
}

.b3 {

    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.4s linear;
    -webkit-transition: visibility 0.3s linear, opacity 0.4s linear;
    -moz-transition: visibility 0.3s linear, opacity 0.4s linear;
    -o-transition: visibility 0.3s linear, opacity 0.4s linear;
}



.b4 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s linear, opacity 0.6s linear;
    -webkit-transition: visibility 0.2s linear, opacity 0.6s linear;
    -moz-transition: visibility 0.2s linear, opacity 0.6s linear;
    -o-transition: visibility 0.2s linear, opacity 0.6s linear;
}


.b5 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s linear, opacity 0.8s linear;
    -webkit-transition: visibility 0.1s linear, opacity 0.8s linear;
    -moz-transition: visibility 0.1s linear, opacity 0.8s linear;
    -o-transition: visibility 0.1s linear, opacity 0.8s linear;
}

.text {
    text-decoration: none;
    color: #222;
    text-shadow: 0px 2px 3px #555;
    text-align-last: center;
    padding: 5px;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.7vh;
}
/*navigation ends*/

}

@-ms-viewport {
    width: device-width;
}

@media only screen and (max-width: 640px) {
 
  ul{
    flex-direction: column;
    display: block;
  }
  